{{ script('https://cdn.ckeditor.com/ckeditor5/22.0.0/classic/ckeditor.js') }}

<form class="needs-validation" id="page_{{ action }}" action="{{ crud }}" method="POST" enctype="multipart/form-data" novalidate>
    <div class="card shadow border-primary mb-4">
        <div class="card-header bg-light">
            {% if action == 'insert' %}
            <span class="mt-2 float-left text-success text-uppercase">
                <i class="la la-plus"></i> {{ 'new-page'|text }}
            </span>
            {% elseif action == 'update' %}
            <span class="mt-2 float-left text-primary text-uppercase">
                <i class="la la-edit"></i> {{ 'edit-page'|text }} <small class="text-warning">ID: {{ column['id']['value'] }}</small>
            </span>
            {% else %}
            <span class="mt-2 float-left text-info text-uppercase">
                <i class="la la-eye"></i> {{ 'view-record'|text }} <small class="text-warning">ID: {{ column['id']['value'] }}</small>
            </span>
            {% endif %}
            <ul class="nav nav-pills card-header-pills float-right pr-2">
                {% if action == 'insert' %}
                <li class="nav-item pl-2">
                    <button class="submit nav-link btn btn-success shadow-sm" type="submit"><i class="la la-check"></i> {{ 'save'|text }}</button>
                </li>
                {% elseif action == 'update' %}
                <li class="nav-item pl-2">
                    <button class="submit nav-link btn btn-primary shadow-sm" type="submit"><i class="la la-check"></i> {{ 'save'|text }}</button>
                </li>
                <li class="nav-item pl-2">
                    <button class="nav-link btn btn-info shadow-sm" type="reset">{{ 'reset'|text }}</button>
                </li>
                {% endif %}
                <li class="nav-item pl-2">
                    <button class="nav-link btn btn-secondary shadow-sm" onclick="window.history.go(-1);return false;">{{ 'back'|text }}</button>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <ul class="nav nav-tabs nav-tabs-content" role="tablist">
                <li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#tab-content">{{ 'content'|text }}</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tab-image">{{ 'image'|text }}</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tab-properties">{{ 'properties'|text }}</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tab-meta">{{ 'meta'|text }}</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tab-comment">{{ 'comment'|text }}</a></li>
                {% if action != 'insert' %}
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tab-history">{{ 'history'|text }}</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tab-version">{{ 'version'|text }}</a></li>
                {% endif %}
            </ul>
            <div class="tab-content">
                <div class="tab-pane active show" id="tab-content" role="tabpanel">
                    <div class="form-group row">
                        <label class="col-2 col-form-label text-right">{{ 'content-type'|text }}</label>
                        <div class="col-10">
                            <div class="row">
                                <div class="col-3">
                                    <select name="{{ column['type']['name'] }}" class="form-control">
                                        {% for value,name in lookup['page_types'] %}
                                        <option{% if value==column['type']['value'] %} selected{% endif %} value="{{ value }}">{{ name|e }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-9 d-none">
                                    <div class="row">
                                        <label class="col-5 col-form-label text-right text-danger">{{ 'alias'|text }}</label>
                                        <div class="col-7">
                                            <input autocomplete="off" name="{{ column['alias']['name'] }}" value="{{ column['alias']['value']|e }}" maxlength="{{ column['alias']['length'] }}" type="{{ column['route']['type'] }}" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="row">
                                        <label class="col-5 col-form-label text-right">{{ 'menu-type'|text }}</label>
                                        <div class="col-7">
                                            <select name="{{ column['menu_type']['name'] }}" class="form-control">
                                            {% for value,name in lookup['menu_css_types'] %}
                                                <option{% if value==column['menu_type']['value'] %} selected{% endif %} value="{{ value }}">{{ name|e }}</option>
                                            {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="row">
                                        <label class="col-5 col-form-label text-right">{{ 'width'|text }}</label>
                                        <div class="col-7">
                                            <input name="{{ column['width']['name'] }}" value="{{ column['width']['value']|e }}" maxlength="{{ column['width']['length'] }}" type="{{ column['width']['type'] }}" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label text-right">{{ 'parent'|text }}</label>
                        <div class="col-10">
                            <select name="{{ column['parent_id']['name'] }}" class="form-control">
                                <option{% if 0==column['parent']['value'] %} selected{% endif %} value="0">{{ 'main-menu'|text }}</option>
                                {% for page in parents %}
                                    <option{% if page['id']==column['parent_id']['value'] %} selected{% endif %} value="{{ page['id'] }}">{{ page['title']|e }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group row">
                        <label class="col-2 col-form-label text-right">
                            {{ 'title'|text }}
                            <span class="form-text text-muted">{{ 'title-note'|text }}</span>
                        </label>
                        <div class="col-10">
                            {% for code in language.codes() %}
                            <div class="input-group{% if not loop.first %} mt-1{% endif %}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><img src="https://cdn.jsdelivr.net/gh/codesaur/resources/dist/flags/16x11/{{ code }}.png"></span>
                                </div>
                                <input required name="{{ column['title'][code]['name'] }}" value="{{ column['title'][code]['value']|e }}" maxlength="{{ column['title'][code]['length'] }}" type="{{ column['title'][code]['type'] }}" class="form-control">
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <hr>
                    <div class="form-group row">
                        <label class="col-2 col-form-label text-right">
                            {{ 'short'|text }}
                            <span class="form-text text-muted">{{ 'short-note'|text }}</span>
                        </label>
                        <div class="col-10">
                            {% for code in language.codes() %}
                            <div class="input-group{% if not loop.first %} mt-1{% endif %}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><img src="https://cdn.jsdelivr.net/gh/codesaur/resources/dist/flags/16x11/{{ code }}.png"></span>
                                </div>
                                <textarea rows="2" name="{{ column['short'][code]['name'] }}" class="form-control">{{ column['short'][code]['value']|e }}</textarea>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% for code in language.codes() %}
                    <hr>
                    <div class="form-group row">
                        <label class="col-2 col-form-label text-right">{{ 'full'|text }} <img src="https://cdn.jsdelivr.net/gh/codesaur/resources/dist/flags/16x11/{{ code }}.png">
                            <span class="form-text text-muted" style="padding-bottom:8px">{{ 'full-note'|text }}</span>
                            {% if action != 'retrieve' %}(<a href="javascript:;" onclick="Dashboard.editor('full_{{ code }}',this);">{{  action != 'retrieve' ? 'editor' : 'html' }}</a>){% endif %}
                        </label>
                        <div class="col-10">
                            <textarea name="{{ column['full'][code]['name'] }}" id="full_{{ code }}" rows="10" class="form-control">{{ column['full'][code]['value']|e }}</textarea>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="tab-pane" id="tab-image" role="tabpanel">
                    <div class="table-container">
                        <div class="alert alert-info mb-2">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                            <i class="fa fa-info mr-2"></i> {{ 'content-image-note'|text }}
                        </div>
                        <div id="images_uploader_container" class="float-right mb-2">
                            <a id="images_uploader_pickfiles" href="javascript:;" class="btn btn-success"><i class="fa fa-plus"></i> {{ 'select-files'|text }}</a>
                            <a id="images_uploader_uploadfiles" href="javascript:;" class="btn btn-primary"><i class="fa fa-share"></i> {{ 'upload-files'|text }} </a>
                        </div>
                        <div class="row mt-2">
                            <div id="images_uploader_filelist"></div>
                        </div>
                        <table class="table table-striped table-bordered table-hover order-column" id="page_images">
                            <thead>
                                <tr>
                                    <th scope="col">{{ 'photo'|text }}</th>
                                    {% for code in language.codes() %}
                                    <th scope="col">{{ 'title'|text }} <img src="https://cdn.jsdelivr.net/gh/codesaur/resources/dist/flags/16x11/{{ code }}.png"></th>
                                    {% endfor %}
                                    <th scope="col">{{ 'main-image'|text }}</th>
                                    <th scope="col">{{ 'thumbnail'|text }}</th>
                                    <th scope="col">{{ 'position'|text }}</th>
                                    <th scope="col" style="width:130px">{{ 'action'|text }}</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                            <tfoot></tfoot>
                        </table>
                    </div>
                </div>
                <div class="tab-pane" id="tab-properties" role="tabpanel">                    
                    <div class="form-group row">
                        <label class="col-2 col-form-label text-right">{{ 'style'|text }}</label>
                        <div class="col-10">
                            <select name="{{ column['style']['name'] }}" class="form-control">
                                {% for value,name in lookup['blog_style'] %}
                                <option{% if value==column['style']['value'] %} selected{% endif %} value="{{ value }}">{{ name|e }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label text-right">{{ 'position'|text }}</label>
                        <div class="col-10">
                            <input name="{{ column['position']['name'] }}" value="{{ column['position']['value'] }}" maxlength="{{ column['position']['length'] }}" type="{{ column['position']['type'] }}" class="form-control">
                            <span class="form-text text-muted">{{ 'rank-on-site'|text }}</span>
                        </div>
                    </div>
                    <hr>
                    {% for code in language.codes() %}
                    <div class="form-group row">
                        <label class="col-2 col-form-label text-right">{% if loop.first %}{{ 'visible'|text }}{% endif %}</label>
                        <div class="col-10">
                            <img src="https://cdn.jsdelivr.net/gh/codesaur/resources/dist/flags/16x11/{{ code }}.png" style="margin-top:-2px;">&nbsp;&nbsp;&nbsp;&nbsp;
                            {% for value,name in lookup['yesno'] %}
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="{{ column['status'][code]['type'] }}"
                                     name="{{ column['status'][code]['name'] }}" id="{{ column['status'][code]['name'] ~ value }}"
                                     {% if value==column['status'][code]['value'] %} checked{% endif %}  value="{{ value }}">
                              <label class="form-check-label" for="{{ column['status'][code]['name'] ~ value }}">{{ name }}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                    <hr>
                    <div class="form-group row">
                        <label class="col-2 col-form-label text-right text-info">{{ 'route'|text }}</label>
                        <div class="col-10">
                            <input autocomplete="off" name="{{ column['route']['name'] }}" value="{{ column['route']['value']|e }}" maxlength="{{ column['route']['length'] }}" type="{{ column['route']['type'] }}" class="form-control">
                            <span class="form-text text-muted">example: {{ request.getHttpHost() ~ request.getPath() }}/<strong>about-us</strong></span>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group row">
                        <label class="col-2 col-form-label text-right text-danger">Hotlink</label>
                        <div class="col-10">
                            <input autocomplete="off" name="{{ column['hotlink']['name'] }}" value="{{ column['hotlink']['value']|e }}" maxlength="{{ column['hotlink']['length'] }}" type="{{ column['hotlink']['type'] }}" class="form-control">
                            <span class="form-text text-muted">example: http://some-site/some-page</span>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab-meta" role="tabpanel">
                </div>
                <div class="tab-pane" id="tab-comment" role="tabpanel">
                    <div class="form-group row">
                        <label class="col-2 col-form-label text-right">{{ 'show-comment'|text }}</label>
                        <div class="col-10 mt-2">
                            {% for value,name in lookup['yesno'] %}
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="{{ column['show_comment']['type'] }}"
                                     name="{{ column['show_comment']['name'] }}" id="{{ column['show_comment']['name'] ~ value }}"
                                     {% if value==column['show_comment']['value'] %} checked{% endif %}  value="{{ value }}">
                              <label class="form-check-label" for="{{ column['show_comment']['name'] ~ value }}">{{ name }}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label text-right">{{ 'enable-comment'|text }}</label>
                        <div class="col-10">
                            {% for value,name in lookup['yesno'] %}
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="{{ column['can_comment']['type'] }}"
                                     name="{{ column['can_comment']['name'] }}" id="{{ column['can_comment']['name'] ~ value }}"
                                     {% if value==column['can_comment']['value'] %} checked{% endif %}  value="{{ value }}">
                              <label class="form-check-label" for="{{ column['can_comment']['name'] ~ value }}">{{ name }}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% if action != 'insert' %}
                <div class="tab-pane" id="tab-history" role="tabpanel">
                    <div class="form-group row">
                        <label class="col-2 col-form-label text-right">Hits</label>
                        <div class="col-10">
                            <input disabled name="{{ column['read_count']['name'] }}" value="{{ column['read_count']['value'] }}" maxlength="{{ column['read_count']['length'] }}" type="{{ column['read_count']['type'] }}" class="form-control">
                        </div>
                    </div>
                    <hr>
                    <div class="form-group row">
                        <label class="col-2 col-form-label text-right">{{ 'date-created'|text }}</label>
                        <div class="col-10">
                            <input disabled value="{{ column['created_at']['value'] }}" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label text-right">{{ 'created-by'|text }}</label>
                        <div class="col-10">
                            <input disabled value="{{ (lookup['account'][column['created_by']['value']] ?? column['created_by']['value'])|e }}" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label text-right">{{ 'date-modified'|text }}</label>
                        <div class="col-10">
                            <input disabled value="{{ column['updated_at']['value'] }}" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label text-right">{{ 'updated-by'|text }}</label>
                        <div class="col-10">
                            <input disabled value="{{ (lookup['account'][column['updated_by']['value']] ?? column['updated_by']['value'])|e }}" type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab-version" role="tabpanel">
                </div>
                <input name="{{ column['id']['name'] }}" value="{{ column['id']['value'] }}" readonly type="hidden">
                {% endif %}
            </div>
        </div>
        {% if action == 'insert' %}
        <div class="card-footer">
            <div class="row">
                <div class="col-12">
                    <button class="submit btn btn-success btn-block shadow-sm" type="submit"><i class="la la-check"></i> {{ 'save'|text }}</button>
                </div>
            </div>
        </div>
        {% elseif action == 'update' %}
        <div class="card-footer">
            <div class="row">
                <div class="col-8">
                    <button class="submit btn btn-primary btn-block shadow-sm" type="submit"><i class="la la-check"></i> {{ 'save'|text }}</button>
                </div>
                <div class="col-4">
                    <button class="btn btn-info btn-block shadow-sm" type="reset">{{ 'reset'|text }}</button>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</form>
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function() {
{% if action != 'retrieve' %}
    {% for code in language.codes() %}
        Dashboard.editor('full_{{ code }}');
    {% endfor %}
{% else %}
    $("#page_{{ action }} .card-body :input").prop("disabled", true);
{% endif %}
    
    /*$('table#page_images').DataTable({
        lengthMenu: [[5, 10, 30, 50, -1], [5, 10, 30, 50, "{{ 'all1'|text }}"]],
        responsive: true, bStateSave: true, pagingType: 'full_numbers', pageLength: 10, order: [[0, 'asc']],
        ajax: {method: 'GET', url: "{{ 'datatable'|link }}?logger=pages&controller=Velociraptor\\Content\\PagesController"}
        {% if language.current == 'mn' %}, language: {url: "https://cdn.jsdelivr.net/gh/codesaur/resources/dist/datatables/mongolian.json"}{% endif %}
    });*/
});
</script>