<table class="table table-striped table-bordered table-hover" id="pages">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">{{ 'photo'|text }}</th>
            <th scope="col">{{ 'title'|text }}
            <th scope="col">{{ 'rank'|text }}</th>
            <th scope="col">{{ 'visibility'|text }}</th>
            <th scope="col" style="width:120px">{{ 'action'|text }}</th>
        </tr>
    </thead>
    <tbody></tbody>
    <tfoot></tfoot>
</table>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
        $('table#pages').DataTable({
            lengthMenu: [[5, 10, 30, 50, -1], [5, 10, 30, 50, "{{ 'all1'|text }}"]],
            responsive: true, bStateSave: true, pagingType: 'full_numbers', pageLength: 10, order: [[0, 'asc']],
            ajax: {method: 'GET', url: "{{ 'datatable'|link }}?logger=pages&controller=Velociraptor\\Controllers\\PagesController"}
            {% if language.current == 'mn' %}, language: {url: "https://cdn.datatables.net/plug-ins/1.10.21/i18n/Mongolian.json"}{% endif %}
        });
    });
</script>
