<table class="table table-striped table-bordered table-hover" id="templates">
    <thead>
        <tr>
            <th scope="col">{{ 'keyword'|text }}</th>
            {% for code,country in language.complete() %}
            <th scope="col">{{ country }} <img src="https://cdn.jsdelivr.net/gh/codesaur/resources/dist/flags/16x11/{{ code }}.png"></th>
            {% endfor %}
            <th scope="col">{{ 'type'|text }}</th>
            <th scope="col">{{ 'status'|text }}</th>
            <th scope="col" style="width:130px">{{ 'action'|text }}</th>
        </tr>
    </thead>
    <tbody></tbody>
    <tfoot></tfoot>
</table>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        $('table#templates').DataTable({
            lengthMenu: [[5, 10, 30, -1], [5, 10, 30, "{{ 'all1'|text }}"]],
            responsive: true, bStateSave: true, pagingType: 'full_numbers', pageLength: 10, order: [[0, 'asc']],
            ajax: {method: 'GET', url: "{{ 'datatable'|link }}?logger=reference&table=templates&controller=Velociraptor\\Content\\TemplatesController"}
            {% if language.current == 'mn' %}, language: {url: "https://cdn.jsdelivr.net/gh/codesaur/resources/dist/datatables/mongolian.json"}{% endif %}
        });
    });
</script>
